:root {
  --mainDark: #343434; /* Main dark color */
  --mainGray: #999999; /* Main gray color */
  --mainWhite: #ffffff; /* Main white color */
  --mainBlue: #007bff; /* Main blue color */
}
.navbar-toggler:focus {
  outline: none;
}
.navbar-toggler {
  border: none;
}
